/*****

    General

 *****/

* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

h1, .conversation, .controls {
    margin-left: 10px;
}


/*****

    Conversation

 *****/


.conversation {
    /*max-height: 70vh;*/
    overflow-y: scroll;
}

.blockSay {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.blockSay.me {
    flex-direction: row-reverse;
}

.blockSay.me .say {
    background-color: blue;
    color: white;
}


.blockSay.others .say {
    background-color: #eee;
    color: black;
}


.say {
    /*border: 1px solid blue;*/
    border-radius: 20px;
    padding: 10px;
    margin-top: 0!important;
    display: inline-block;
    font-size: 14px;
}

.blockname {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid grey;
    margin: 0 5px;
}

.name {
    color: #bbb;
}


/*****

    Autocomplete area

 *****/

.autocomplete-aera, .controls {
    width: 95vw;
}

.autocomplete-aera {
    display: flex;
    position: absolute;
    bottom: 225px;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    /*width: 95vw;*/
}


.autocomplete-aera .suggestion {
    font-size: 14px;
    color: blue;
    border: 1px solid blue;
    background-color: white;
    padding: 10px;
    margin-left:5px;
    margin-top: 5px;
    border-radius: 20px;
}



/*****

    Controls : input + submit

 *****/

.inputSay {
    flex:1;
    /*height: 35px;*/
    border-radius: 25px;
    border: none;
    background-color: #eee;
    padding: 10px;
    font-size: 13px;
    width: 70vw;
}

.controls .submit {
     width: 35px;
     height: 35px;
     border-radius: 30px;
     background-color: blue;
     border: 3px solid blue;
     color: white;
     font-weight: 100;
     font-size: 20px;
    margin-left: 10px;
     /*font-family: "GT America", sans-serif;*/
 }

.controls {
    display: flex;
    position: absolute;
    bottom: 15px;
    transition: 0.5s ease;
}

.controls.active {
    bottom:180px;
}

