/*****

    General

 *****/

*, ul, li {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}


/*****

    Input aera

 *****/

.controls {
    display: flex;
    padding: 15px;
}

.inputSay {
    flex:1;
    /*height: 35px;*/
    border-radius: 25px;
    border: none;
    background-color: #eee;
    padding: 10px;
    font-size: 13px;
}

.controls .submit {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-color: blue;
    border: 3px solid blue;
    color: white;
    font-weight: 100;
    font-size: 20px;
    margin-left: 10px;
    /*font-family: "GT America", sans-serif;*/
}


#custom-keyboard {
    background-color: #eeeeee;
    position: fixed;
    bottom: -300px;
    transition:0.5s ease;
}

#custom-keyboard.active {
    bottom: 0;
}

.pipe {
    animation: blinker 0.8s infinite alternate;
}

@keyframes blinker {
    to {
        opacity:0;
    }
}


/*****

    Keyboard

 *****/

ul li {
    list-style-type: none;
}

li {
    flex: 1;
    /*margin: 1px;*/
    padding: 10px;
    /*border-radius: 5px;*/
    background-color: #f3f3f3;
}

.numbers {
    font-size: 70%;
}

.space {
    flex:3;
    background-color: #bbbbbb;
}

.keyrow {
    display: flex;
    width: 100vw;
}

.on {
    display: none;
}